.hidemob{
    display: block;
}

.hidedesk{
    display: none;
}

.addit{

    margin-top:50px;
    margin-bottom:100px;
    
    &__title{
        margin:0 auto;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-bottom: 5rem;

        &-content{
            font-size: 32px;
            margin:0;
        }
    }

    
    &__cards{

        &-card{
            display: flex;
            position: relative;
            justify-content: space-between;

            margin-bottom: 3rem;
            &:nth-child(2){
                flex-direction: row-reverse;
            }

            
        }

        &-image{
            width: 50%;
        }

        &-info{
            display: flex;
            flex-direction: column;
            height: 24rem;
            justify-content: space-between;
            width: 40%;
            height: 300px;
            align-self: center;
        }

        &-data{
            letter-spacing: 0.03em;
            font-size: 18px;
            width: 85%;
        }

        &-another{
            align-items: flex-end;
        }

        &-title{
            font-size: 26px;
            font-weight: 500;
        }

        &-button{
            text-decoration: none;
            background-color: #FFFFFF;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
            padding-left: 2rem;
            padding-right:2rem;
            width: 115px;
            color: $dark;
            font-size: 18px;
            border: 1px solid $dark;
            text-align: center;
            transition: 0.3s;

            &:hover{
                transition: 0.3s;
                background-color:$dark;
                color: #FFFFFF;
            }

        }

        &-buttonAnother{
            margin-left:10rem;
        }
    }
}

@media screen and (max-width: 750px){

    .hidemob{
        display: none;
    }
    
    .hidedesk{
        display: block;
    }

    .addit{

        &__cards{

            width: 100%;

            &-title{
                font-size: 18px;
            }

            &-image-placeholder{
                display: flex;
                justify-content: center;
            }

            &-image{
                width: 100%;
                max-width: 550px;

            }

            &-card{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;

                &:nth-child(even){
                    flex-direction: column;
                }
            }

            &-info{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                height: 75px;
            }

            &-button{
                width: 66.28%;
            }

            &-buttonAnother{
                margin-left: 0;
            }
        }
        &__title{

            display: flex;
            align-items: center;

            &-content{
                font-size: 20px;
                text-align: center;
                width: 200px;

            }
        }
    }
    // .addit{

    //     &__title{
    //         width: auto;
    //         margin-bottom: 0;

    //         &-content{
    //             font-size: 3rem;
    //             display: block;
    //             margin: 0 auto;

    //             &:last-child{
    //                 align-self: center;
    //             }
    //         }

            
    //     }

    //     &__cards{

    //         &:first-child{
    //             display: none;
    //         }
        
    //         &:last-child{
    //             display: flex;
    //         }

    //         &-card{
    //             flex-direction: column;
    //             margin: 0;
    //         }

    //         &-image{
    //             margin: 0 auto;
    //             margin-top:5%;
    //             width: 100%;
    //             max-width: 650px;
    //             height: auto;
    //         }

    //         &-info{
    //             position: static;
    //             height: auto;
    //             width: 100%;
    //         }

    //         &-title{
    //             font-size: 3rem;;
    //             margin: 0 auto;
    //             margin-top: 20px;
    //             margin-bottom: 30px;
    //         }

    //         &-button{
    //             margin: 0 auto;
    //             width: 45%;
    //             text-align: center;
    //         }
    //     }
    // }
}

@media screen and (max-width: 400px){
    .addit{

        &__cards{
            margin-top: 30px;

            &-title{
                font-size: 18px;
                font-weight: 500;
            }
        }

        &__title{
            
            &-content{
                font-size: 20px;
                width: 200px;
                text-align: center;
                
            }
        }
    }
}

.slick-dots{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    & *{
        margin-right: 10px;

        &:last-child{
            margin-right: 0;
        }
    }

    & button{
        font-size: 0;
        width: 15px;
        height: 15px;
        background-color: #777777;
        border: none;

        &:focus{
            outline: none;
        }
    }

    & li.slick-active button{
        background-color: $dark;
        border:none;
    }
}