$max-card-height: 200px;

body{
    margin: 0;
}

.answers{
    background-color: $dark;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;


    &__list{
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        &:last-child{
            justify-content: flex-end;
        }
    }

    &-link{
        color: #C8C7C7;
    }

    &__cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        width: 90%;
    }

    &__title{
        display: flex;
        justify-content: flex-start;
        margin-left: 5%;
        margin-bottom: 1rem;
        
        &-name{
            font-size: 32px;
            margin: 0;
        }
    }

    &-info{
        color: #C8C7C7;
        width: 27rem;
        margin-bottom: 2rem;
        margin-left: 5%;
        font-size: 16px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 95%;
        margin-bottom: 20px;

        &-title {
            background-color: white;
            color: $dark;
            border: 1px solid $dark;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            font-size: 18px;
            cursor: pointer;
            transition: .3s;
        }
        
        &-body {
            transition: .3s all ease-in-out;
            background-color: white;
            margin: 0;
            max-height: 0;
            overflow: hidden;
        }

        &-content {
            color: $dark;
            padding: 20px;
        }

        &.active &-body {
            max-height: $max-card-height;
        }

        &.active &-title,
        &-title:hover {
            background-color: $dark;
            border: 1px solid white;
            color: white;
        }

        &.active &-arrow-path,
        &-title:hover &-arrow-path {
            stroke: white;
        }

        &.active &-arrow {
            transform: rotateX(-180deg);
        }

    }
}

@media screen and (max-width: 750px){
    .answers{
        &__cards{
            flex-direction: column;
            align-items: center;
        }

        &__title{
            &-name{
                font-size: 20px;
                margin: 0 auto;
            }
        }
        &-info{
            width: 85%;
            margin: 0 auto;
            margin-bottom: 5%;
        }

        &__list{
            width: 100%;
            justify-content: center;

            &:last-child{
                justify-content: center;
            }
        }
    }
}

// @media screen and (max-width: 500px){

//     .answers{

//         &__title{
//             text-align: center;
//             margin: 0 auto;
//             margin-bottom: 10px;
//             width: 280px;
//             padding-top: 20px;
            
//         }

//         &-info{
//             width: 90%;
//             margin:0 auto;
//             margin-bottom: 10px;
//             text-align: justify;
//             line-height: 150%;
//             opacity: 0.5;
//         }

//         &__cards{
//             flex-direction: column;
//             flex-wrap: nowrap;

//             &-name{
//                 width: 100%;
//                 margin: 0 auto;
//                 margin-bottom: 10px;
//                 text-align: justify;
//             }

//             &-question{
//                 width: 90%;
//                 margin: 0 auto;
//                 margin-bottom: 30px;
//             }

//             &-answer{
//                 width: 100%;
//                 margin: 0 auto;
//                 text-align: justify;
//             }
//         }
//     }
// }