*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.banner{
    display: flex;
    flex-direction: row-reverse;
    
    &__slaider{
        align-self: flex-end;
        background-image: url(/assets/images/img1.png);
        background-size: contain;
        height: 800px;
        width: 75vw;
    }

    &__content{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 25vw;

        &-title{
            font-size: 10rem;
        }

        &-button{
            font-size:18px;
            display: inline;
            background-color:#1D1D1D;
            width: 11.25rem;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            text-decoration: none;
            color: #FFFFFF;
            align-self: stretch;
            text-align: center;
        }
    }
}