body{
    margin: 0;
}
.contacts{
    color: #AAAAAA;
    background-color: $dark;

    &__list{
        display: flex;
        max-width: 1000px;
        padding-top: 50px;

        &-block{
            display: flex;
            flex-direction: column;

            width: 50%;

            &-card{

                margin-bottom: 30px;
                &-name{
                    font-size: 20px;
                    
                }

                &-contact{
                    font-size: 40px;
                    margin: 0;
                }

                &-social{
                    & *{
                        margin-right: 10px;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 730px){
    .contacts{
    
        &__list{
            flex-direction: column;
            padding-top: 20px;

            &-block{
    
                width: 100%;
    
                &-card{
    
                    margin-bottom: 30px;
                    &-name{
                        font-size: 16px;
                        
                    }
    
                    &-contact{
                        color: #FFFFFF;
                        font-size: 25px;
                        margin: 0;
                    }
    
                    
    
                }

                &:first-child{
                    display: none;
                }
            }
        }
    }
}
