
@import 'colors.scss';
@import "banner.scss";

body{
    font-family: 'Roboto', sans-serif;
    color:$dark;
}

@import 'about.scss';

.container{
    max-width: 1100px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
