
@import 'colors.scss';
@import 'answers.scss';
@import 'addit.scss';
@import 'perf.scss';
@import "banner.scss";

body{
    font-family: 'Roboto', sans-serif;
    color:$dark;
}

.container{
    max-width: 1100px;
    margin:0 auto;
}

@import 'about.scss';

.container{
    max-width: 1100px;
    margin: 0 auto;
}