.container-modal{
    max-width: 1000px;
    margin: 0 auto;
}

.modal{
    color: $dark;

    &__top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 70px;

        &-logo{
            margin-left: 50px;
        }

        &-close{
            margin-right: 50px;
            text-decoration: none;
            color: $dark;
            transition: 0.3s;

            &:hover{
                text-decoration: underline;
                transition: 0.3s;
            }
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-link{
            font-size: 3rem;
            font-weight: bold;
            margin: 0;
            margin-bottom: 30px;
            text-decoration: none;
            color: $dark;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}