.perfomance{

    &-head{
        font-size:6.25rem;
    }

    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;

        &-order{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-bottom: 30px;
        }

        
        &-block{
            display: flex;
            width: 50%;       
            justify-content: center;
        }

        &-click{
            text-decoration: none;
            border-bottom: 2px solid #000000;
            width: 160px;
            padding-top:15px;
            padding-bottom: 15px;
            text-align: center;
            color:#000000;
            transition: 0.5s;
            margin-top:0;

            &:hover{
                background-color: #000000;
                color:#FFFFFF;
                transition: 0.3s;
            }
        }

        &-link{
            color:#000000;
        }

        &-card{
            display: flex;
            width: 100%;
            margin-bottom:15px;
            flex-direction: row;

            &:nth-child(even){
                justify-content: flex-end;
            }
        }

        &-back{
            -webkit-text-stroke: 1.5px #1D1D1D;
            color: transparent;
            font-size: 6.25rem;
            margin-right: 10px;;
        }

        &-info{
            display: flex;
            width: 16rem;
            flex-direction: column;
            margin:0;
        }

        &-title{
            margin:0;
            text-align: center;
        }

        &-text{
            margin:0;
            text-align: justify;
        }
    }
}

@media screen and (max-width: 1200px) {

    .perfomance{

        margin-top: 100px;
        &-head{
            font-size: 3rem;
            text-align: center;
        }

        &__content{

            flex-direction: column;
            flex-wrap: none;

            &-title{
                font-size: 2rem;
                margin-bottom: 15px;
            }

            &-info{
                width: 65%;
                font-style: italic;
            }

            &-card{
                justify-content: center;

                &:nth-child(even){
                    justify-content: center;
                }
            }

            &-back{
                display: none;
            }

            &-order{
                margin-bottom: 20px;
                justify-content: center;
            }

            &-block{
                width: 100%;
            }

            &-click{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 1.5rem;
                background-color: #000000;
                color:#FFFFFF;
                width: 45%;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }
}