.perfomance{

    &-head{
        font-size:6.25rem;
    }

    &__content{
        display: flex;
        flex-wrap:wrap;

        &-card{
            display: flex;
            width: 50%;
        }

        &-back{
            -webkit-text-stroke: 1.5px #1D1D1D;
            color: transparent;
            font-size: 6.25rem;
        }

        &-info{
            display: flex;
            width: 16rem;
            flex-direction: column;
            margin:0;
        }

        &-title{
            margin:0;
            text-align: center;
        }

        &-text{
            margin:0;
        }
    }
}